p {
  color: orange;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center {
  text-align: center;
}

.chart {
  font: 10px sans-serif;
}

.box {
  width: 200px;
  border: 5px solid steelblue;
  padding: 5px;
  margin: auto;

}


#company {
  font-weight: bold;
  font-size: 20px;
}

#apple-stock-chart .axis path,
#apple-stock-chart .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#apple-stock-chart .x.axis path {
  /*display: none;*/
}

#apple-stock-chart .line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1px;
}

#apple-stock-chart .overlay {
  fill: none;
  pointer-events: all;
}

#apple-stock-chart .focus circle {
  fill: none;
  stroke: steelblue;
}
